.list {

    &__item {
        padding: 6px 6px 6px 10px;
        font-size: 14px;
        list-style: none;
        transition: all .1s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $bluehover;
        }
    }
}
